<% if admin_signed_in? %>
  <ul>
    <li><%= link_to 'Openings', admins_openings_path %></li>
    <% if current_business %>
      <li><%= link_to 'Business Settings', edit_admins_business_path(current_business)%><li>
    <% end %>
    <li>Welcome <%= current_admin.email %><li>
      <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
  </ul>
<% elsif user_signed_in? %>
  <ul>
    <li><%= link_to 'Current openings', users_openings_path %></li>
    <li>Welcome <%= current_user.email %><li>
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
  </ul>
<% end %>