<h2>Listing openings</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @openings.each do |opening| %>
  <tr>
    <td><%= opening.title %></td>
    <td><%= opening.description %></td>
    <td><%= link_to 'Show', admins_opening_path(opening) %></td>
    <td><%= link_to 'Edit', edit_admins_opening_path(opening) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New opening', new_admins_opening_path %>