<h2>Edit business</h2>
<%= render 'shared/errors', object: @business %>
<%= form_for [:admins, @business] do |f| %>
  <%= f.label :name, 'Employer name' %>
  <%= f.text_field :name %>
  <%= f.submit "Save" %>
<% end %>